
.trs-panel {
    width: 80vw;
    height: 30vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
    /* border: 1px solid gray; */
}

.trs-dropdown {
  max-width: 100px;
}

.trs-text-area {
  height: 270px !important;
  resize: none;
}